# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Original GLB models (too large for git)
public/images/fps/*.glb

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python venv
.venv/
